@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

body {
  background: image-url("/cash.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  margin: 100px 0 20px;
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px rgba(0,0,0,0.3));
}

.card-header {
  text-align: center !important;
}
.de {
  background-color: #22A9F4 !important;
  color: #fff;
}

.para {
  background-color: #fff !important;
}

.resultado {
  background-color: #8AC449 !important;
  color: #fff;
}

.inputs-shadow {
  filter: drop-shadow(6px 2px 5px #cecece);
}

.form-group {
  input#amount {
    margin-bottom: 10px;
  }
}
.form-control {
  text-align: center !important;
}

.local_currency {
  select {
    margin-top: 25px;
  }
}

.destination_currency {
  select {
    margin-top: 25px;
  }
}

#change-button {
  position: absolute;
  top: 98px;
  right: -15px;
  z-index: 1;
  padding: 0px;
  background: none;
  border: 0;
}

@media only screen and (max-width : 992px) {
  .logo {
    margin-top: 0px;
  }

  .card-group > .card {
    margin-bottom: 0px !important;
  }

  .para {
    background-color:rgb(66.3%, 66.3%, 66.3%) !important;
    color: #fff;
  }
  
  #change-button {
    position: absolute;
    top: 155px;
    right: 200px;
    z-index: 1;
    padding: 0px;
    border: 0;
  }
}
